h1{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35pt;
    color:yellow;
    background-color: red;
    border-color: yellow;
    border-style:dotted;
    border-width: 5px;
    border-radius: 40px 40px 40px 40px;
    padding:200px;
    min-width: none;
    max-width: 2000px;
    min-height: none;
    max-height: 750px;
}
